<html>
	<head>
	<title>Homepage</title>
	</head>
	
	<body>
		<center>
		<h1>Homepage</h1>

		<button type="button" name="Sign Up" onclick="location.href='/signup/';">Sign Up</button><BR/></BR>
		<button type="button" name="Add" onclick="location.href='/addvideo/';">Add</button><BR/></BR>
		<button type="button" name="Search" onclick="location.href='/search/';">Search</button><BR/></BR>
		<button type="button" name="View List" onclick="location.href='/viewlist';">View List</button><BR/></BR>
		<button type="button" name="Review" onclick="location.href='/review/';">Review</button><BR/></BR>
		<button type="button" name="Rate" onclick="location.href='/rate/';">Rate</button><BR/></BR>
		<button type="button" name="GetRR" onclick="location.href='/getfeedback/';">Get Ratings/Reviews</button><BR/></BR>
	</body>
</html>
	
