<html>
	<head>
	<title>Rate</title>
	</head>
	
	<body>
		<center>
		<h1>Rate</h1>
		
		<BR/><BR/>
		
		<form action="/rate/" method="post">
		user id: <input type="number" name="userid" min="0" max="64000000000000000"/></button><BR/><BR/>	
		video id: <input type="number" name="vid" min="0" max="64000000000000000"/></button><BR/><BR/>
		rate: <input type="number" name="rate" min="1" max="5"/></button><BR/><BR/>
		<button type="submit" name="Review_btn"/>Add Rating</button><BR/></BR>
		
	</body>
</html>
