<html>
	<head>
	<title>Review</title>
	</head>
	
	<body>
		<center>
		<h1>Review</h1>
		
		<BR/><BR/>
		
		<form action="/review/" method="post">
		user id: <input type="number" name="userid" min="0" max="64000000000000000"/></button><BR/><BR/>
		video id: <input type="number" name="vid" min="0" max="64000000000000000"/></button><BR/><BR/>
		review: <input type="text" name="review" maxlength="140"/></button><BR/><BR/>
		<button type="submit" name="Review_btn"/>Add Review</button><BR/></BR>
		
	</body>
</html>
