<html>
	<head>
	<title>Search</title>
	</head>
	
	<body>
		<center>
		<h1>Search</h1>
		
		<BR/><BR/>
		
		<form method="post">
			video id: <input type="number" name="vid" min="0" max="64000000000000000"/></button><BR/><BR/>
			video title: <input type="text" name="vidtitle" maxlength="80"/></button><BR/><BR/>
			video url: <input type="text" name="vidurl" maxlength="80"/></button><BR/><BR/>
			tags: <input type="text" name="tags" maxlength="140"/></button><BR/><BR/>
			<button type="submit" name="Search_btn"/>Search</button><BR/></BR>
		</form>
	</body>
</html>
